.update-password-container{
  display:flex;
  flex-direction: column;
  background-image: url(https://i.imgur.com/CeAVEah.jpg);
  background-size: cover;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
  background-position-x: 30%; 
}

.update-password-form{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 70vw;
  height: 35vh;
  margin-top: 12vh;
  background-color: rgba(255,255,255, 0.80);
  backdrop-filter: blur(3px);
  justify-content: space-evenly;
}

.update-form-header{
  font-family: 'Marvel', cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.email-update-input{
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.old-update-input{
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.new-update-input{
  width: 200px;
  font-size: 1rem;
  padding: 5px; 
}

.update-email-div{
  margin-bottom: 10px;
}

.update-old-div{
  margin-bottom: 10px;
}

.update-new-div{
  margin-bottom: 10px;
}

.update-submit-div{
  width: 100px;
  height: 33px;
  font-family: 'Bangers', cursive;
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
}

@media only screen and (min-width: 800px) {
  .update-password-form{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 25vw;
    height: 35vh;
    margin-top: 15vh;
    background-color: rgba(255,255,255, 0.80);
    backdrop-filter: blur(1px);
    justify-content: space-evenly;
  }

  .update-form-header{
    font-family: 'Marvel', cursive;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .email-update-input{
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }
  
  .old-update-input{
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }
  
  .new-update-input{
    width: 200px;
    font-size: 1.2rem;
    padding: 5px; 
  }

}