/**
CSS rules to specify families
font-family: 'Bangers', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Marvel', sans-serif;
**/

.logo {
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  font-family: "Bangers", cursive;
  margin: auto;
  padding-top: 15px;
  color: white;
}

a:hover,
.logo:hover {
  color: yellow;
}

.nav-div{
  background-color: black;
  /* text-align: left; */
  height: fit-content;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  border: 2px black solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
}

.drop-down-menu{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: 60vw;
  font-family: "Bangers", cursive;
  color: white;
  text-shadow: rgb(238, 233, 233);
}

.drop-down-menu-links{
  color: white;
  margin: 10px auto;
  width: 60vw;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 1rem;
  text-shadow: rgb(238, 233, 233);
  display: none;
} 

.fa-bars:active,
.drop-down-menu-links {
  display: block;
}



.link-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 60vw;
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 19px;
  text-shadow: rgb(238, 233, 233);
  display: none;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 1.1rem;
}

/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
**/

@media only screen and (min-width: 800px) {
  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Bangers", cursive;
    color: white;
    font-size: 1.5rem;
  }

  .drop-down-menu{
    display: none;
  }
  

  .link-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    text-decoration: none;
    font-family: "Bangers", cursive;
    color: white;
    width: 80vw;
    margin: 0px auto;
    font-size: 1.2rem;
    
  }
}