/**
CSS rules to specify families
font-family: 'Bangers', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Marvel', sans-serif;
**/

.logo {
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  font-family: "Bangers", cursive;
  margin: auto;
  padding-top: 15px;
  color: white;
}

a:hover,
.logo:hover {
  color: yellow;
}
.nav-div {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.link-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 19px;
  text-shadow: rgb(238, 233, 233);
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 1.1rem;
}
