.signup-container {
  display:flex;
  flex-direction: column;
  background-image: url(https://i.imgur.com/CeAVEah.jpg);
  background-size: cover;
  align-items: center;
  height: 100vh;
  background-position-x: 30%; 
  margin-top: 100px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 70vw;
  height: 45vh;
  margin-top: 12vh;
  background-color: rgba(255,255,255, 0.80);
  backdrop-filter: blur(3px);
  justify-content: space-evenly;
}

.signup-form-header{
  font-family: 'Marvel', cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-username-div {
  margin-bottom: 10px;
}

.signup-username-input {
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.signup-email-div {
  margin-bottom: 10px;
}

.signup-email-input {
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.signup-password-div {
  margin-bottom: 10px;
}

.signup-password-input {
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.confirm-password-div {
  margin-bottom: 10px;
}

.confirm-password-input {
  width: 200px;
  font-size: 1rem;
  padding: 5px;
}

.signup-button {
  width: 100px;
  height: 33px;
  font-family: 'Bangers', cursive;
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
}

.account-ask{
  font-family: 'Marvel', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-login-button {
  width: 100px;
  height: 33px;
  color: white;
  border: none;
  background-color: black;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
  padding: 7px;
  margin: 0px auto;
}

.signup-to-login-link{
  font-family: 'Bangers', cursive;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.signup-login-button:active,
.signup-button:active {
  opacity: 50%;
  border: 2px solid yellow;
}

.signup-login-button:hover,
.signup-button:hover {
  color: yellow;
}
/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
**/

@media only screen and (min-width: 1000px) {

  .signup-container {
    display:flex;
    flex-direction: column;
    background-image: url(https://i.imgur.com/CeAVEah.jpg);
    background-size: cover;
    align-items: center;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 25vw;
    height: 50vh;
    margin-top: 15vh;
    background-color: rgba(255,255,255, 0.80);
    backdrop-filter: blur(3px);
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .signup-form-header{
    font-family: 'Marvel', cursive;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .signup-username-input {
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .signup-email-input {
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .signup-password-input {
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .confirm-password-input {
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .signup-username-div {
    margin-bottom: 15px;
  }

  .signup-email-div {
    margin-bottom: 15px;
  }

  .signup-password-div {
    margin-bottom: 15px;
  }

  .confirm-password-div {
    margin-bottom: 15px;
  }

  .account-ask{
    font-family: 'Marvel', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .signup-to-login-link{
    font-family: 'Bangers', cursive;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: lighter;
  }
  

}