.detail-container {
  box-sizing: border-box;
  background-color: #202020;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: white;
}

.detail-card {
  width: 70vw;
  padding: 20px;
  margin: 0 auto;
}

.detail-cover {
  margin: 0 auto;
  width: 200px;
  height: 230px;
  overflow: hidden;
  border: 1px whitesmoke solid;
  }

.detail-art {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit:contain
}

.detail-information-card {
  font-family: 'Marvel', sans-serif;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

.detail-title {
  font-size: 1.8rem;
  margin: 10px
}
.detail-brand-price {
  font-size: 1.2rem;
  margin: 10px;
  font-weight: bold;
}

.detail-price {
  font-size: 1.4rem
}

.detail-purchase-card {
font-family: 'Bangers', cursive;
}

.detail-purchase {
  background-color: #202020;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
  font-family: 'Bangers', cursive;
  color: white;
  padding: 5px;
  font-size: 1rem;
}

.detail-description-card {
  margin: 10px 0 0 0;
  font-family: 'Marvel', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.detail-description {
  width: 80%;
  font-family: 'Marvel', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.detail-buttons{
  display: flex;
  width: 60vw;
  margin: 10px auto;
  justify-content: space-evenly;
}

.detail-edit, 
.detail-delete {
  background-color: #CD352D;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
  font-family: 'Bangers', cursive;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  width: 15vw;
}

.marvel{
  background-color: #CD352D;
}

.dc{
  background-color:#3477EA;
}

/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
**/

@media only screen and (min-width: 800px) {
  .detail-card{
      max-width: 60vw;
  }

  .detail-cover {
    margin: 0 auto;
    width: 300px;
    height: 345px;
    overflow: hidden;
    border: 1px whitesmoke solid;
    }
  
  .detail-art {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    object-fit:contain
  }

  .detail-buttons{
    display: flex;
    width: 50vw;
    margin: 10px auto;
    justify-content: space-evenly;
  }
  
  .detail-edit, 
  .detail-delete {
    background-color: #CD352D;
    clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 1.4rem;
    padding: 5px;
    width: 8vw;
  }

  .detail-title {
    font-size: 2.7rem;
    margin: 10px
  }
  .detail-brand-price {
    font-size: 1.8rem;
    margin: 10px;
    font-weight: bold;
  }
  
  .detail-price {
    font-size: 2.1rem
  }
  
  .detail-description {
    width: 80%;
    font-family: 'Marvel', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .detail-purchase {
    background-color: #202020;
    clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    font-family: 'Bangers', cursive;
    color: white;
    padding: 5px;
    font-size: 1.5rem;
  }

}