.detail-container {
  box-sizing: border-box;
  background-color: #202020;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: white;
}

.detail-card {
  width: 70vw;
  margin: 0 auto;
}

.detail-art {
  width: 70vw;
}

.detail-information-card {
  font-family: 'Marvel', sans-serif;
  width: 60vw;
  margin: 0px auto;
  justify-content: center;

}

.detail-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px
}

.detail-brand-price {
  font-size: 1.1rem;
  margin: 10px;
  font-weight: bold;
}

.detail-price {
  font-size: 1.4rem
}

.detail-purchase-card {
font-family: 'Bangers', cursive;
}

.detail-purchase {
  width: 100px;
  height: 33px;
  font-family: 'Bangers', cursive;
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
}

.detail-description-card {
  font-family: 'Marvel', sans-serif;
  font-size: 1rem;
  display: flex;
}

.detail-description {
  font-family: 'Marvel', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 12px;
  margin-bottom: 12px;
}

.detail-buttons{
  display: flex;
  width: 60vw;
  margin: 10px auto;
  justify-content: space-evenly;
}

.detail-edit, 
.detail-delete {
  margin-top: 10px;
  width: 100px;
  height: 33px;
  font-family: 'Bangers', cursive;
  border: none;
  font-size: 1rem;
  background-color: #CD352D;
  color: white;
  clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
}

.marvel{
  background-color: #CD352D;
}

.dc{
  background-color:#3477EA;
}


/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY      
**/

@media only screen and (min-width: 800px) {

  .detail-card{
    width: 60vw;
    display: flex;
  }

  .detail-art {
    width: 25vw;
  }

  .detail-information-card{
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 30vw;
    height: fit-content;
  }

  .detail-title {
    font-size: 2.5rem;
    width: 20vw;
    margin: 0 auto;
  }

  .detail-brand-price {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .detail-price {
    font-size: 1.8rem
  }

  .detail-purchase-card {
    margin: 10px 10px;
    font-family: 'Bangers', cursive;
  }

  .detail-description-card {
    font-family: 'Marvel', sans-serif;
    font-size: 1rem;
    display: flex;
  }
  
  .detail-description {
    font-family: 'Marvel', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }


/* 
  .detail-buttons{
    display: flex;
    width: 50vw;
    margin: 10px auto;
    justify-content: space-evenly;
  }
  
  .detail-edit, 
  .detail-delete {
    background-color: #CD352D;
    clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 1.4rem;
    padding: 5px; 
    width: 8vw;
  }
*/

  /*

  .detail-purchase {
    background-color: #202020;
    clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 1.4rem;
  }

 */

}