.carousel {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: 100px;
}

.carousel-image {
  width: 160vw;
  height: 340px;
  margin-top: 70px;
}

.carousel-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Bangers", cursive;
  font-size: 35px;
  margin-bottom: 42px;
}

.carousel-month {
  color: yellow;
  margin-top: 5px;
  margin-bottom: 0;
}

.carousel-name {
  color: white;
  margin-top: 0;
}

.right-arrow {
  position: absolute;
  right: 1px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  padding-left: 1vw;
  position: absolute;
  left: 1px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.cover {
  opacity: 0;
  transition-duration: 3s ease-out;
}

.cover-active {
  opacity: 1;
  transition-duration: 3s;
  transform: scale(0.5);
}

@media only screen and (min-width: 500px) {

  .carousel {
    height: 45vh;
    margin-top: 85px;
  }
  .carousel-image {
    width: 175vw;
    height: 400px;
    object-fit: cover;
    object-position: top;
  }
  .carousel-message {
    font-size: 3rem;
  }
  .right-arrow {
    position: absolute;
    right: 3px;
    font-size: 2rem;
  }

  .left-arrow {
    position: absolute;
    left: .2px;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .carousel {
    height: 60vh;
    margin-top: 100px;
  }
  .carousel-image {
    width: auto;
    height: 600px;
    object-fit: cover;
    object-position: top;
  }

  .right-arrow {
    position: absolute;
    right: 4px;
    font-size: 3rem;
  }

  .left-arrow {
    position: absolute;
    left: 3px;
    font-size: 3rem;
  }

  .carousel-message {
    font-size: 4rem;
  }

  .carousel-month {
    color: yellow;
    margin-top: 15px;
    margin-bottom: 0;
  }

}
@media only screen and (min-width: 1000px) {

  .carousel-image {
    height: 700px;
    object-fit: cover;
    object-position: top;
  }

  .carousel-message {
    font-size: 5rem;
  }

  .right-arrow {
    position: absolute;
    right: 30px;
    font-size: 3rem;
  }

  .left-arrow {
    position: absolute;
    left: 30px;
    font-size: 3rem;
  }
}
