.carousel {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: 70px;
}
.carousel-message {
  display: flex;
  color: white;
  font-family: "Marvel", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.carousel-image {
  width: 125vw; 
  /* margin-top: 70px; */
  object-fit: cover;
}
.carousel-name {
 color: white;
 font-family: "Bangers", cursive;
 font-size: 30px;
 margin: 0;
}
.right-arrow {
  position: absolute;
  right: 15px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  left: 15px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.cover {
  opacity: 0;
  transition-duration: 1sec ease;
}
.cover-active {
  opacity: 5;
  transition-duration: 5sec;
  transform: scale(0.5);
}


@media only screen and (min-width: 800px) {

  .carousel {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 200px;
  }

  .carousel-image {
    width: 100vw; 
  }

}