.purchase-comic {
  background-color: #202020;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 100px;
}

.purchase-container {
  width: 70vw;
  margin: 0 auto;
  box-shadow: 2px 2px 2px black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comicbook-art {
  max-width: 70vw;
}

.purchase-information {
  margin: 10px;
  font-family: "Marvel", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.comic-title-purchase {
  font-size: 1.4rem;
}

.purchase-email{
  margin-top: 10px;
  margin-bottom: 10px;
}

.marvel {
  background-color: #cd352d;
}

.dc {
  background-color: #3477ea;
}

/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
**/

@media only screen and (min-width: 800px) {
  .purchase-container {
    width: 60vw;
    display: flex;
    padding-bottom: 0px;
  }

  .comicbook-art {
    width: 25vw;
  }

  .purchase-information {
    width: 30vw;
    height: fit-content;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    font-family: "Marvel", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .comic-title-purchase{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .purchase-info-conditional {
    width: fit-content;
  }

  .comic-title-purchase {
    font-size: 2.5rem;
  }
}
