.comics-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}


a {
  text-decoration: none;
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
}

.sort {
  position: relative;
  padding: 15px;
  margin-left: 50%;
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

/* Arqui's sort container thingy */
.sort-container{
  width: 100vw;
  height: fit-content;
  font-family: "Bangers", cursive;
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
  clip-path: polygon(0% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
}


/* .sort-container{
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  width: 50vw;
  justify-self: right;
  padding: 10px 10px;
} */

@media only screen and (min-width: 800px) {

  /* .header-image-browse {
    background-image: url("https://i.imgur.com/ceaSQ4tl.jpg?1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 0;
    color: transparent;
  } */

  .sort {
    position: relative;
    padding: 20px;
    margin-left: 75%;
    font-family: "Marvel", sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .sort-container{
    width: 100vw;
    height: fit-content;
    font-family: "Bangers", cursive;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    clip-path: polygon(0% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    /* border: 2px solid black; */
  }

}