.comics-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.header-image-browse {
  background-image: url("https://i.imgur.com/ceaSQ4tl.jpg?1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 230px;
  margin: 0;
  color: transparent;
}

a {
  text-decoration: none;
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
}

.sort {
  position: relative;
  padding: 15px;
  margin-left: 50%;
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

/* .sort-container{
  font-family: "Marvel", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  width: 50vw;
  justify-self: right;
  padding: 10px 10px;
} */

@media only screen and (min-width: 800px) {

  .header-image-browse {
    background-image: url("https://i.imgur.com/ceaSQ4tl.jpg?1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    margin: 0;
    color: transparent;
  }

  .sort {
    position: relative;
    padding: 15px;
    margin-left: 80%;
    font-family: "Marvel", sans-serif;
    font-weight: bolder;
    cursor: pointer;
  }
}