.comic-image {
  width: 165px;
  height: 225px;
}

.comic-container {
  font-family: "Marvel", sans-serif;
  display: flex;
  margin: 10px auto;
  width: 165px;
  flex-wrap: wrap;
  justify-content: center;
}

.comic-cards-individuals {
  padding-bottom: 10px;
}

.comic-title {
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.comic-brand {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

.dc {
  background-image: url("https://i.imgur.com/NceNWo2.jpg?1");
  background-size: cover;
}
.marvel {
  background-image: url("https://i.imgur.com/reo0jVY.jpg?1");
  background-size: cover;
}


@media only screen and (min-width: 800px) {

  .comic-cards-individuals {
    display: flex;
    flex-direction: row;
    width: 28vw;
    padding: 0px;
  }

  .comic-container {
    width: 28vw;
  }

  .comic-info-container {
    margin: 0px auto;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    width: 12vw;
  }

  .comic-title {
    font-size: 1.5rem;
  }

  .comic-brand {
    margin-top: 10px;
    font-size: 1.3rem;
    
  }


}
