.comic-image {
  width: 165px;
  height: 225px;
}

.comic-container {
  font-family: "Marvel", sans-serif;
  display: flex;
  margin: 10px auto;
  width: 49vw;
  flex-wrap: wrap;
  justify-content: center;
}

.comic-cards-individuals {
  padding: 10px;
}

.comic-title {

  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  
}

.comic-brand {
  font-size: .8rem;
  text-decoration: none;
  color: white;
  text-align: right;
}

.dc {
  background-color: #3477ea;
}

.marvel {
  background-color: #cd352d;
}

@media only screen and (min-width: 800px) {
  .comic-cards-individuals{
    display: flex;
    justify-content: space-evenly;
  }
  
  .comic-info-container{
    margin-left: 10px;
    text-align: right;
    width: 10vw;
  }

  .comic-title{
    font-size: 1.2rem;
    /* margin-bottom: 20px; */
  }

  .comic-brand{
    font-size: 1rem;
    margin-top: 150px;
  }

  .comic-container {
    font-family: "Marvel", sans-serif;
    display: flex;
    margin: 10px auto;
    width: 28vw;
    flex-wrap: wrap;
    justify-content: center;
  }


}

