.comic-edit{
  background-color: #202020;
  padding-top: 70px;
  padding-bottom: 70px;
}

.editor-container{
  max-width: 70vw;
  padding: 10px;
  margin: 0px auto;
  box-shadow: 2px 2px 2px black;
}

.marvel{
  background-color: #CD352D;
}

.dc{
  background-color: #3477EA;
}

.edit-product-image{
  max-width: 60vw;
}

.input-name{
  margin: 10px auto;
  font-size: 1rem;
  width: 200px;
}

.input-image-link{
  margin: 10px auto;
  font-size: 1rem;
  width: 200px;
}

.input-price{
  margin: 10px auto;
  font-size: 1rem;
  width: 200px;
}

.input-brand{
  margin: 10px auto;
  font-size: 1rem;
  width: 200px;
}

.editor-text{
  margin: 10px auto;
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1.2rem;
  font-weight: 500;
}

.textarea-description{
  width: 200px;
  font-size: 1rem;
}

.save-button{
  background-color: black;
  color: white;
  font-family: 'Bangers', cursive;
  width: 100px;
  font-size: 1rem;
}

/**
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
    MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY
  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY  MEDIA QUERY    
**/

@media only screen and (min-width: 800px) {
  .editor-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 60vw;
    padding: 20px 10px 20px 10px;
  }

  .edit-product-image{
    max-width: 20vw;
  }

  .input-name{
    margin: 10px auto;
    width: 300px;
    font-size: 1rem;
  }
  
  .input-image-link{
    margin: 10px auto;
    width: 300px;
    font-size: 1rem;
  }
  
  .input-price{
    margin: 10px auto;
    width: 300px;
    font-size: 1rem;
  }

  .input-brand{
    margin: 10px auto;
    width: 300px;
    font-size: 1rem;
  }
  
  .editor-text{
    margin: 10px auto;
    font-family: 'Bangers', cursive;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .textarea-description{
    width: 300px;
  }
  
  .save-button{
    background-color: black;
    color: white;
    font-family: 'Bangers', cursive;
    width: 10vw;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2rem;
  }

}
